<div class="container">
  <div [style.visibility]="isVisible ? 'visible' : 'hidden'" class="form_modal">
    <div class="form_header">
      <h2>Create new task</h2>
      <mat-icon aria-hidden="false" style="cursor: pointer;" (click)="isVisible=false" 
      >close</mat-icon
    >
    </div>
   
    <form [formGroup]="newTaskForm">
      <mat-form-field class="inputFields" appearance="fill">
        <mat-label>Task Name</mat-label>
        <input matInput placeholder="Task name" name="task" type="text" formControlName="taskName" required>
      </mat-form-field>
     
      <div class="date_container">
        <label>Color</label>
        <input
          class="card_color"
          type="color"
          name="card_color"
          formControlName="color"
        />
        
        <label>Date* </label>
        <input
          type="date"
          required
          name="date"
          class="date_input"
          formControlName="date"
        />
      </div>
       
      <mat-form-field class="inputFields" appearance="fill">
        <mat-label>Enter Tag</mat-label>
        <input matInput placeholder="Task name"  name="tag" placeholder="Enter Tag"   type="text"  formControlName="tags" required>
      </mat-form-field>
   
      <button (click)="createNewTask()" class="form-button">Create task</button>
    </form>
  </div>
  <div class="left_container">
    <div class="task_header">
      <h1>Tasks</h1>
      <button (click)="toggleVisibility()" class="btn">Create task</button>
    </div>
    <ul
      class="cardContainer tasks"
      (dragover)="$event.preventDefault()"
      (dragenter)="$event.preventDefault()"
      (drop)="dropMethod($event)"
      id="tasks"
    >
      <div *ngFor="let task of tasks">
        <div
          class="card"
          draggable="true"
          (dragstart)="dragStart(task, $event)"
          (dragend)="dragEnd($event)"
          id="completed_tasks"
        >
          <div class="card__color" [style.background-color]="task.color"></div>
          <div class="card__content">
            <h2>{{ task.title }}</h2>
            <p class="date">{{ task.date | date }}</p>
          </div>
          <div class="tag_div">
            <div class="tag_section">
              <div *ngFor="let tag of task.tag" class="tag">{{ tag }}</div>
            </div>
            <div (click)="deleteTask(task.id, tasks, 'tasks')" class="icon">
              <mat-icon aria-hidden="false" aria-label="Example home icon"
                >delete</mat-icon
              >
            </div>
          </div>
        </div>
      </div>
    </ul>
  </div>
  <div class="divider"></div>
  <div class="right_container">
    <h1>Completed tasks</h1>
    <ul
      class="cardContainer completed_tasks"
      (dragover)="$event.preventDefault()"
      (dragenter)="$event.preventDefault()"
      (drop)="dropMethod($event)"
      id="completed_tasks"
    >
      <div *ngFor="let completedTask of completedTasks">
        <div
          class="card"
          (dragstart)="dragStart(completedTask, $event)"
          (dragend)="dragEnd($event)"
          draggable="true"
        >
          <div
            class="card__color"
            [style.background-color]="completedTask.color"
          ></div>
          <div class="card__content">
            <h2>{{ completedTask.title }}</h2>
            <p class="date">{{ completedTask.date | date }}</p>
          </div>
          <div class="tag_div">
            <div class="tag_section">
              <div *ngFor="let tag of completedTask.tag" class="tag">
                {{ tag }}
              </div>
            </div>
            <div
              (click)="
                deleteTask(completedTask.id, completedTasks, 'completed_tasks')
              "
              class="icon"
            >
              <mat-icon aria-hidden="false" aria-label="Example home icon"
                >delete</mat-icon
              >
            </div>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>
